<ion-view title="Регистрация" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page7-form2" class="list ">
            <ion-list id="page7-list2" class=" ">
                <label class="item item-input " id="page7-input4">
                    <input type="email" placeholder="E-mail">
                </label>
                <label class="item item-input " id="page7-input5">
                    <input type="text" placeholder="Password">
                </label>
            </ion-list>
            <a ui-sref="page6" id="page7-button3" class=" button button-assertive  button-block ">Зарегистрироваться</a>
        </form>
    </ion-content>
</ion-view>