<ion-view title="Подключение лицевого счета" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="page3-markdown3" style="color:#000000;text-align:center;" class=" ">Поля отмеченные звездочкой* являются обязательными.</p>
        <form id="page3-form5" class="list ">
            <label class="item item-input " id="page3-input14">
                <input type="text" placeholder="Номер счета*">
            </label>
            <label class="item item-input " id="page3-input13">
                <input type="text" placeholder="Расчетная организация">
            </label>
            <label class="item item-input " id="page3-input15">
                <input type="text" placeholder="Населенный пункт">
            </label>
            <label class="item item-input " id="page3-input16">
                <input type="text" placeholder="Улица*">
            </label>
            <label class="item item-input " id="page3-input17">
                <input type="text" placeholder="Дом/Корпус*">
            </label>
            <label class="item item-input " id="page3-input18">
                <input type="text" placeholder="Квартира">
            </label>
            <button id="page3-button8" class=" button button-assertive  button-block " onclick="DrowText()">Сохранить</button>
						<script type="text/javascript"> 
			function DrowText() 
			{ 
			var t=setTimeout("alert("Сохранено")", 1000); 
			} 
			</script>
        </form>
    </ion-content>
</ion-view>