<ion-view title="Настройки" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="page5-list-item-container1">
            <p id="page5-markdown1" style="margin-top:0px;color:#000000;" class=" ">Введите данные в поля:</p>
            <form id="page5-form4" class="list ">
                <label class="item item-input " id="page5-input8">
                    <input type="text" placeholder="ФИО">
                </label>
                <label class="item item-input " id="page5-input9">
                    <input type="tel" placeholder="Телефон">
                </label>
                <label class="item item-input " id="page5-input11">
                    <input type="password" placeholder="Старый пароль">
                </label>
                <label class="item item-input " id="page5-input12">
                    <input type="password" placeholder="Новый пароль">
                </label>
            </form>
            <button id="page5-button7" class=" button button-assertive  button-block " onclick="DrowText()">Сохранить</button>
						<script type="text/javascript"> 
			function DrowText() 
			{ 
			var t=setTimeout("alert("Сохранено")", 1000); 
			} 
			</script>
        </div>
    </ion-content>
</ion-view>