<ion-view title="Информация о ЛС" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="page8-button-bar2" class=" button-bar ">
            <a ui-sref="tabsController.page2" id="page8-button9" class=" button button-assertive  button-block ">Ввод показаний</a>
            <button id="page8-button10" class=" button button-assertive  button-block ">Информация о ЛС</button>
            <a ui-sref="tabsController.page9" id="page8-button11" class=" button button-assertive  button-block ">Приборы учета</a>
        </div>
        <div>
            <table border="2" align="center">
                <tbody>
                    <tr border="5">
                        <td align="top">Номер</td>
                        <td align="top">132323232454</td>
                    </tr>
                    <tr>
                        <td align="top">Расчетная
                            <br>организация</td>
                        <td align="top">ООО "Солнышко"</td>
                    </tr>
                    <tr>
                        <td align="top">Управляющая
                            <br>компания</td>
                        <td align="top">ЖО Грязево</td>
                    </tr>
                    <tr>
                        <td align="top">Имя плательщика</td>
                        <td align="top">Иванов Иван Иванович</td>
                    </tr>
                    <tr>
                        <td align="top">Общая площадь</td>
                        <td align="top">45.5</td>
                    </tr>
                    <tr>
                        <td align="top">Жилая площадь</td>
                        <td align="top">25.2"</td>
                    </tr>
                    <tr>
                        <td align="top">Постоянно прописанных</td>
                        <td align="top">1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ion-content>
</ion-view>