<ion-view title="Приборы учета" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="page9-button-bar3" class=" button-bar ">
            <a ui-sref="tabsController.page2" id="page9-button12" class=" button button-assertive  button-block ">Ввод показаний</a>
            <a ui-sref="tabsController.page8" id="page9-button13" class=" button button-assertive  button-block ">Информация о ЛС</a>
            <button id="page9-button14" class=" button button-assertive  button-block ">Приборы учета</button>
        </div>
        <p id="page9-markdown5" style="color:#000000;font-size:16px;text-align:center;" class=" ">№2394952||Горячее водоснабжение</p>
        <form id="page9-form9" class="list ">
            <label class="item item-input " id="page9-input21">
                <input type="text" placeholder="Описание">
            </label>
        </form>
        <p id="page9-markdown6" style="color:#000000;font-size:16px;text-align:center;" class=" ">№2394953||Горячее водоснабжение</p>
        <form id="page9-form10" class="list ">
            <label class="item item-input " id="page9-input22" name="Описание">
                <input type="text" placeholder="Описание">
            </label>
        </form>
        <p id="page9-markdown7" style="color:#000000;font-size:16px;text-align:center;" class=" ">№2395952||Холодное водоснабжение</p>
        <form id="page9-form11" class="list ">
            <label class="item item-input " id="page9-input23" name="Описание">
                <input type="text" placeholder="Описание">
            </label>
        </form>
        <p id="page9-markdown8" style="color:#000000;font-size:16px;text-align:center;" class=" ">№2395953||Холодное водоснабжение</p>
        <form id="page9-form12" class="list ">
            <label class="item item-input " id="page9-input24" name="Описание">
                <input type="text" placeholder="Описание">
            </label>
            <button id="page9-button15" class=" button button-assertive  button-block "onclick="DrowText()">Сохранить</button>
									<script type="text/javascript"> 
			function DrowText() 
			{ 
			var t=setTimeout("alert("Сохранено")", 1000); 
			} 
			</script>
        </form>
    </ion-content>
</ion-view>